$white: #fff;
$black: #000;
$red: #f00;
$pink: #E91E63;
$purple: #FD4F2d;
$deeppurple: #673AB7;
$indigo: #3F51B5;
$amber: #FFC107;
$orange: #FF9800;
$green: #4CAF50;
$teal: #009688;
$cayan: #00BCD4;
$yellow: #FFEB3B;
$blue: #2196F3;
$grey: #9E9E9E;
$deeporange: #FF5722;
$lime: #CDDC39;
$aa: #dcdcdc;
$bb: #130f40;
$opacity: rgba(255,79,10,0.8);

$primary_color: $purple;
$secondary_color: $bb;
$alter_color: $aa;
$opacity_color: $opacity;



/*== ===============table of content =======

1.head
2.About
3.work
4.event
5.why chosse us
6.Demo
7.Progress
8.View
9.Subscribe
10.service
11.contact

=========================================== ==*/




@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
   
}


/*global*/

section{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    position: relative;
    z-index: 1;
}

 h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
  
}
p{
    font-family: 'Open Sans', sans-serif;
}
.title {
    padding: 10px 20px;
    position: relative;
    background: $alter_color;
    display: inline-block;
    margin-bottom: 30px;
   
    
}
.title::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $secondary_color;
    top: 7px;
    left: 7px;
    z-index: -1;
}
.right:before{
   left: auto !important;
   right: 10px;
    margin-bottom: 30px;
}
.middle{
    margin-bottom: 30px;
    
}
/*global end*/

/*header section start*/
/*========================menu section start=========*/

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'Khand', sans-serif;
    color: #fff !important;
}

.navbar-brand p {
    font-size: 0.84rem;
    margin-top: -5px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.navbar {
    -webkit-transition: all 2s;
    /* Safari */
    transition: width 2s;
    padding: 0 15px;
}
.fixed-top{
}
.nav-item a {
    color: #fff !important;
    
}

.navbar-nav .nav-link.active {
    background: #2689BC !important;
}

.nav-item{
    border-bottom: 2px solid transparent;
}
.nav-item:hover {
   
    border-bottom: 2px solid #fff;
}

.header {
    background: $opacity_color;
    position: fixed;
    z-index: 99999;
}

.navbar-toggler{
    background: #fff;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover{
    
}
/*======== menu section end*/

.head {
    height: 100vh;
    width: 100%;
    background: url(../img/restaurant-3237186_1920.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;  
}

.head:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/11.svg);
    
}
.headline{
    color: #fff;
}
.headline h1{
    
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    padding-top: 10%;
}
.headline button {
    width: 200px;
    padding: 15px;
    margin-top: 20px;
    background-color: #490F0E;
    color: #fff;
}
.test{
    position: relative;
    
}

.form h3{
    font-family: 'Oswald', sans-serif;
}
.form {
    background-color: rgba(255,79,10, 0.5);
    
    padding: 200px 20px 0 20px;
    height: 100vh;
    color: #fff;
    
}

.form input {
    
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #490F0E;
    color: #fff;
}
.form button:hover{
    color: #fff;
}

.wrap_input {
    margin-bottom: 15px;
}
.table_icon{
    margin-top: 50px;
    
    
}
.table_icon ul{
    
    margin: 0;
    padding: 0; 
    
    
}
.table_icon ul li {
    display: inline-block !important;
    padding-left: 10px ;
   
    }

.table_icon ul li a {
    color: #001;
    border: 1px solid transparent;
}


.table_icon ul li a i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: #490F0E;
    padding-top: 9px;
    border: 1px solid transparent;
     text-align: center;
}
.table_icon ul li a i:hover {
    background-color: #001;
    border: 1px solid #fff;
    color: #fff;
}


/* header section end*/
/* about section start*/

#about {
    
}

.about_image {
    margin-top: 50px;
}

.about_img {
    text-align: right;
}

.about_img p {
    padding-bottom: 50px;
}

.about_image {
    position: relative;
}

.about_image::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $primary_color;
    top: -15px;
    left: -15px;
    z-index: -1;
}


/* about section end*/


/* work section start*/
.work_cont_right h2{
    position: relative;
    background: gray;
    display: inline-block;
    margin:10px 10px 20px 0;
}
.work_cont_right h2::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid #001;
    top: 10px;
    left: 10px;
    z-index: -1;
}
.work_cont_left {
    position: relative;
    width: 95%;
}

.work_cont_left::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: -15px;
    border: 1px solid $primary_color;
    border-top-right-radius: 600px;
    border-bottom-right-radius: 600px;
    z-index: -1;
}

.work_cont_left img {
    border-top-right-radius: 600px;
    border-bottom-right-radius: 600px;
}

.work_cont_right {
    text-align: right;
}


/*work section end*/


/*event section start*/

.event_cont_top {
    position: relative;
    margin-top: 40px;
}

.event_cont_top::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $primary_color;
    top: -15px;
    left: -15px;
    z-index: -1;
}

.event_cont_bottom {
    position: relative;
    margin-top: 20px;
}

.event_cont_bottom::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $primary_color;
    bottom: -15px;
    right: -15px;
    z-index: -1;
}

.event_content {
    text-align: center;
}
.event_content h2{
    padding-top: 40%;
}
/*event section end*/


/*why chosse section start*/

#why_choose{
    text-align: center;
    padding: 0 20px;
}

.box {
    margin: 50px 0;
    color: #fff;
    background: $primary_color;
    text-align: center;
    padding: 20px 10px;
}

.choose_cont_middle {
    position: relative;
}

.choose_cont_middle::before {
    position: absolute;
    content: '';
    height: 95%;
    width: 110%;
    top: 3%;
    left: -5%;
    right: 0;
    bottom: 5%;
    border: 1px solid $primary_color;
    z-index: -1;
}


/*why chosse section end*/


/* demo section  start*/
.demo_content_left {
  margin-top: 10%;
}
.demo_content_right {
    
    position: relative;
    transform: rotate(45deg);
    width: 50%;
    margin: 15% 0 10% 20%;
}


.demo_content_right::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid $primary_color;
    margin: 5% 0 0 5%;
    z-index: -1;
    
}

/* demo section end*/


/* progress start*/

#progress {
    text-align: center;
    background: url(../img/restaurant-237060_960_720.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 60px 0;
    position: relative;
}
#progress::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.7);
}
.progress_content i{
    padding: 20px 0;
}

/* progress end*/

/*view section start*/
.view_cont_right{
    position: relative;
}
.view_cont_right::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $primary_color;
    top: 15px;
    left: 15px;
    z-index: -1;
}
/*view section end*/
/*subscribe start*/
    
#subscribe {
    padding: 80px 0;
    text-align: center;
    background: url(../img/restaurant-237060_960_720.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    position: relative;
    
}
.subscribe_content{
    position: relative;
}
#subscribe::before{
      position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.7);
}
#subscribe input {
    width: 300px;
    padding: 10px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 2px 2px #000;
    
}

#subscribe input[type="submit"] {
    width: 100px;
    background: transparent;
    border: 1px solid #fff;
    margin-left: -5px;
    color: #fff;
    
}


/* subscribe end*/


/*service start*/

#service {
    padding-top: 0px;
    text-align: center;
    margin-bottom: 500px;
    background-color: transparent;
    
}
.service_content{
    padding-top: 50px;
    background: #fff;
    position: relative;
    z-index: -1;
}
.box2 {
    padding: 0 40px;
}

.box2 h5 {
    padding: 20px 0;
    font-weight: bold;
}
/* service section end*/

/*contact section start*/
#contact{
    background: $primary_color;
    color: #fff;
    z-index: -2;
    
    
}
.con_info{
    padding-top: 5%;
}
.con_info h1{
    padding: 20px 0;
}
form{
    padding-top: 20px;
}
form input{
    border: none;
    margin: 20px 0;
    box-shadow: inset 0 0 2px 2px #000;
}
form input[type="submit"]{
    background: #490F0E;
    color: #fff;
    border: 1px solid #fff;
    width: 100px;
    padding: 10px 15px;
    border-radius: 5px;
}

textarea{
    margin-top: 30px;
    box-shadow: inset 0 0 2px 2px #001;
    padding: 10px 0 0 10px;
    border-radius: 5px;
}
.social_icon ul li {
    display: inline-block;
    padding-left: 10px ;
    
    
}

.social_icon ul li a {
    color: #001;
    border: 1px solid transparent;
}

.social_icon ul li a i:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}

.social_icon ul li a i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #490F0E;
    padding-top: 17px;
    color: #fff;
    border: 1px solid transparent;
}

/* contact section end*/

/*bottom section start*/
.bottom{
    background: $primary_color;
    color: #fff;
    padding: 10px 60px;
}
/*bottom section end*/

/*================ responsive=======*/
@media all and (max-width:768px){
    .event_cont_top{
        width: 95%;
        margin-left: 25px;
    }
    .event_cont_bottom{
        width: 95%;
        margin-left: 5px;
    }
    .choose_cont_middle{
        width: 95%;
        margin-left: 15px;
    }
    .view_cont_right{
        width: 95%;
        margin-left: 5px;
    }
}
/*========================================*/






